.delete{
    .delete-selected{
        display: flex;
        justify-content: center;
        background-color: red;
        color: aliceblue;
        padding: 0.1rem;
        width:8vw;
        border-radius: 8px;

    }
}